@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:wght@300;400;500;600;700&display=swap');

/* Global Reset */
*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Base Styles */
html {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6;
    color: #212529;
    background-color: #f9fafb;
    text-align: left;
}

/* Typography */
h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    line-height: 1.2;
    color: #1E1B4B;
}

p, span, a, li {
    font-weight: 400;
    color: #1c1c1c;
}

button, input, textarea, select {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #1c1c1c;
    border: none;
    outline: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Scrollbar Styles */
::-webkit-scrollbar {
    width: 0.5em;
    height: 0.5em;
}

::-webkit-scrollbar-thumb {
    background-color: #cecece;
    border-radius: 100em;
    transition: background-color 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #b0b0b0; /* Darken on hover */
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

/* Navbar Styles */
.navbar .nav-item .nav-item-header {
    cursor: pointer;
    text-align: center;
    margin: 0;
}

.navbar .nav-item .nav-item-header .isicon {
    margin-right: 0.5em;
}

.navbar .nav-item .nav-item-header .nav-title {
    color: #0d2052;
    font-weight: 500;
    transition: color 0.3s ease; /* Only animate color for better performance */
}

.navbar .nav-item .nav-item-header .nav-title:hover {
    color: #007bff; /* Add a hover effect for interactivity */
}

/* Custom Utility Classes */
.hover-pointer {
    cursor: pointer;
}

/* Add this after your existing styles */
.linear-gradient-bg {
  background: linear-gradient(171deg, 
    rgba(255, 255, 255, 1) 0%,
    rgba(240, 249, 255, 0.5) 50%,
    rgba(230, 244, 255, 0.8) 100%
  );
}

/* Add this to your existing styles */
body.menu-open {
  overflow: hidden;
}
